.company {
    background-image: linear-gradient(to right, $veryDarkGrayBlue, $veryDarkDesaturatedBlue);
    border-radius: 0 100px 0 100px;

    .container {
        background: url('../images/bg-pattern-circles.svg') -13.5rem -34rem no-repeat;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 400px;

        .content {
            flex-basis: 665px;
            line-height: 2;

            h1 {
                color: $White;
                font-size: 40px;
            }

            p {
                color: $grayishBlue;
                font-size: $fontSize;
                line-height: 1.5;
                width: 520px;
            }
        }
    }
}