.landing {
    background-image: linear-gradient(120deg, $veryLightRedG, $lightRedG);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 90vh;
    border-radius: 0 0 0 120px;

    .container {
        background-image: url('../images/bg-pattern-intro-desktop.svg');
        background-position: -500px center;
        background-size: 200%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .content {
            text-align: center;
            line-height: 1.5;
            margin-bottom: 20px;
            padding: 20px 0px;

            h1 {
                color: $White;
                font-size: 60px;
            }

            p {
                color: $White;
                font-size: $fontSize;
                font-weight: 600;
                opacity: .6;
            }
        }

        .btns {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                font-weight: bold;
                border-radius: 50px;
                padding: 15px 20px;
                transition: .3s ease;

                &:first-child {
                    background-color: $White;
                    color: $veryLightRed;

                    &:hover {
                        color: $White;
                        background-color: rgb(255 255 255 / .2);
                    }
                }

                &:last-child {
                    border: 2px solid $White;
                    color: $White;

                    &:hover {
                        color: $veryLightRed;
                        background-color: $White;
                    }
                }
            }
        }
    }
}